/* Custom Settings */
.text-button {
  color: #ECEFF4;
  margin-left: 3px;
  margin-right: 3px;
  padding-bottom: 1px;
  padding-top: 1px;
  border-radius: 6px;
  transition: 0.3s;
}

.text-button:checked:hover {
  background-color: #2E394D;
  border-radius: 6px;
}

.text-button:hover {
  background-color: #2E394D;
  transition: 0.3s;
}

.image-button {
  color: #ECEFF4;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 1px;
  padding-right: 1px;
  transition: 0.3s;
  border-radius: 99px;
}

.image-button:hover {
  background: #96DFD3;
  transition: 0.3s;
}

.image-button:checked {
  color: #ECEFF4;
  background-color: #2E394D;
}

.image-button:disabled {
  color: #3D4B66;
}

.titlebar {
  min-height: 48px;
  box-shadow: none;
}

.termite {
padding: 20px;
}

/**********
 * Thunar *
 **********/
.thunar #location-toolbar {
  border-bottom: 1px solid rgba(0,0,0,0);
}

.thunar .standard-view.frame {
  border-style: none;
}

.thunar .sidebar {
    background-image:url("../gtk-assets/thunar-sidebar.png");
}

.thunar .sidebar .view {
    color: #F9F9F9;
    background: transparent;
}

.thunar .sidebar .view:not(:selected) {
  background-color: transparent;
}

.thunar statusbar {
  margin: 0 -10px;
  padding: 0 4px;
  border-top: 1px solid rgba(0,0,0,0);
}

/* Nemo */
.nemo-window {
  background-image:url("../gtk-assets/nemo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.nemo-window .view {
  background: transparent;
  font-weight: 500;
}

.nemo-window .view > * > * {
  background: rgba(150, 223, 211, 0.3);
}

.nemo-window .sidebar {
  background: transparent;
}

.nemo-window .places-treeview .view {
  color: #BEC8DA;
  font-weight: 500;
}

.nemo-window MenuBar {
  color: #ECEFF4;
}

.nemo-window .places-treeview .view:hover {
  background-color: transparent;
  color: #ECEFF4;
}

.nemo-window .places-treeview .view:focus {
  background: transparent;
  color: #ECEFF4;
}

.nemo-window .places-treeview .view:selected {
  background: transparent;
  color: #ECEFF4;
}
