@import "global/variables.css";
@import "global/global.css";
@import "icons/icons.css";
@import "tabbar/tabbar.css";
@import "navbar/navbar.css";
@import "personalbar/personalbar.css";
@import "popup/popup.css";
@import "urlbar/urlbar.css";
@import "findbar/findbar.css";

/* Autohide bookmarks bar */

#PersonalToolbar {
    opacity:0 !important;
    margin-top: -23px !important;
    transition: all 0.2s ease 0s !important;
    }

#navigator-toolbox:hover > #PersonalToolbar {
    visibility: visible !important;
    margin-top: 0px !important;
    transition: all 0.2s ease 0s !important;
    opacity: 1 !important;
    }


  /* --- Made by Trustadz --- */
    @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once in userChrome.css */

Add this for no text in the bookmark bar:

.bookmark-item{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important; 
}
toolbarbutton.bookmark-item .toolbarbutton-text{
    display: none !important;
}
toolbarbutton.bookmark-item .toolbarbutton-icon{
    margin-left: 0px !important;
}
#PlacesToolbarItems > .bookmark-item > .toolbarbutton-icon[label]:not([label=""]) {
    margin-inline-end: 0px !important;
}
toolbarbutton.subviewbutton.subviewbutton-iconic .toolbarbutton-text{
    display: -moz-box !important;
}

.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button { visibility: collapse !important; }

.tabbrowser-tab:not([pinned]):hover .tab-close-button { visibility: visible !important; display: block !important; }
